# ============================
# Analyticq Configuration
# ============================

SECRET_KEY=sample-key-env

# ============================
# RabbitMQ Configuration
# ============================
RABBITMQ_HOST=localhost
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=analyticq
RABBITMQ_DEFAULT_PASS=secret

# Application secret key profile (can be dev, test, prod)
SECRET_KEY_PROFILE=secret-key-dev

# ============================
# Celery Configuration
# ============================

CELERY_HOSTNAME=localhost

# The URL of the message broker used by Celery.
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:${RABBITMQ_AMQP_PORT}//

# The backend used for storing task results.
CELERY_RESULT_BACKEND=rpc://

# The task serializer used for task messages.
CELERY_TASK_SERIALIZER=json

# The serializer used for task results.
CELERY_RESULT_SERIALIZER=json

# The accepted content types for incoming messages (valid JSON array)
CELERY_ACCEPT_CONTENT='["json"]'

# The timezone for scheduling and timestamping tasks.
CELERY_TIMEZONE=UTC

# Enable UTC (True or False).
CELERY_ENABLE_UTC=True

# Enable automatic retry for broker connection setup failure
CELERY_BROKER_CONNECTION_RETRY_ON_SETUP=True

# Autodiscover tasks from specific modules (valid JSON array)
CELERY_AUTODISCOVER_TASKS='["analyticq.preprocessing.input"]'
