# ============================
# Analyticq Configuration- Backend
# ===========================
VITE_API_PROTOCOL=http
VITE_API_HOST:backend
VITE_API_PORT=8000
VITE_PORT=5173

# ============================
# Analyticq Configuration
# ============================
SECRET_KEY=dev-key-env

# Main storage URL
ANALYTICQ_DB_URL=postgresql+asyncpg://${POSTGRES_NON_ROOT_USER}:${POSTGRES_NON_ROOT_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}


FRONTEND_CORS_HOST=localhost
FRONTEND_CORS_HOST=5173

ANALYTICQ_FRONTEND_CORS_URL=http://${FRONTEND_CORS_HOST}:${FRONTEND_CORS_PORT}

# ============================
# RabbitMQ Configuration
# ============================

RABBITMQ_VERSION=4.0.5
RABBITMQ_HOST=localhost
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=secret

# Application secret key profile (can be dev, test, prod)
SECRET_KEY_PROFILE=secret-key-dev

# ============================
# Docker Configuration
# ============================
DOCKER_VERSION=dind
DOCKER_REGISTRY=ghcr.io
DOCKER_REGISTRY_USER=nikgreg99
DOCKER_REGISRY_TOKEN=sample
DOCKER_STREAM_LOG=True

# ============================
# Celery Configuration
# ============================

CELERY_HOSTNAME=localhost

# The URL of the message broker used by Celery.
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:${RABBITMQ_AMQP_PORT}//

# The backend used for storing task results.
CELERY_RESULT_BACKEND=rpc://

# The task serializer used for task messages.
CELERY_TASK_SERIALIZER=json

# The serializer used for task results.
CELERY_RESULT_SERIALIZER=json

# The accepted content types for incoming messages (valid JSON array)
CELERY_ACCEPT_CONTENT='["json"]'

# The timezone for scheduling and timestamping tasks.
CELERY_TIMEZONE=UTC

# Enable UTC (True or False).
CELERY_ENABLE_UTC=True

# Retry broker connection when failing
CELERY_BROKER_CONNECTION_RETRY_ON_SETUP=True

# Autodiscover tasks from specific modules (valid JSON array)
CELERY_AUTODISCOVER_TASKS='["analyticq.preprocessing.input"]'
