<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Common metadata -->
    <title><%- SITE_NAME %></title>
    <meta name="description" content="<%- DESCRIPTION %>" />
    <meta name="author" content="<%- AUTHOR %>" />
    <script>
      window.SITE_METADATA = {
        siteName: "<%- SITE_NAME %>",
        author: "<%- AUTHOR %>",
        authorEmail: "<%- AUTHOR_EMAIL %>",
        description: "<%- DESCRIPTION %>",
      };
    </script>
  </head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
